/*Body Font*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* text color for all hyperlink*/
a {
    color: white;
}

/* navigation Font -style  */

.navbar-brand { 
  font-family:'Pacifico' !important; 
  font-size: 20px;
}

/* navigation styling */
#nav-back{
    background-color: #145DA0 !important; 
}

/*login & signupbutton css*/
#btn-sign {
  background-color: #2e8bc0;
  color: #fff;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*Hover for login & signupbutton*/
#btn-sign:hover {
  background-color: whitesmoke;
  color : #2E8BC0;
  
}

/* for all footers */
.footer{
    background-color: #145DA0;
    color: #ffffff;
    padding-bottom: 30px;
}

.event-holder{
    height: 30vh;
}

/* hero section of the home */
#hero-sect {
  width: 100%;
  height: 75vh;
  background-image:url(./pictures/Mainpic.jpg);
  overflow: hidden;
  background-size:cover;
  background-position: center;
  text-align:center; 
}

#hero-sect img {
  width: 100%;
}

/* Button on hero section */
.callToAction {
  background-color: #2e8bc0;
  color: #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  
}
 
.callToAction:link {
  text-decoration: none;
}

.callToAction:hover {
  color: #ffffff;
}

#centerTest {
  background-color: #2e8bc0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  text-align: center;
}

#centerTest > input {
  border-radius: 5px;
  width: 33%;
  margin-left: 0px;
  padding: 8px;
  border: 0px;
  float: none;
}
 #centerTest > button {
  padding-top:4px;
  padding-bottom: 4px;

}

.signup{
    background-image: radial-gradient(circle at 10% 26%, rgba(90, 90, 90,0.06) 0%, rgba(90, 90, 90,0.06) 25%,rgba(137, 137, 137,0.06) 25%, rgba(137, 137, 137,0.06) 50%,
    rgba(185, 185, 185,0.06) 50%, rgba(185, 185, 185,0.06) 75%,rgba(232, 232, 232,0.06) 75%, rgba(232, 232, 232,0.06) 100%),
    radial-gradient(circle at 46% 66%, rgba(171, 171, 171,0.06) 0%, rgba(171, 171, 171,0.06) 25%,rgba(128, 128, 128,0.06) 25%,
    rgba(128, 128, 128,0.06) 50%,rgba(84, 84, 84,0.06) 50%, rgba(84, 84, 84,0.06) 75%,rgba(41, 41, 41,0.06) 75%, rgba(41, 41, 41,0.06) 100%),
    linear-gradient(90deg, rgb(46,139,192),rgb(20,93,160));
    background-size: cover;
    background-position: center;
}

/*css for tables in get*/
.borderless table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}